@model IEnumerable<PastebookDataLibrary.NOTIFICATION>

@{
    if (Model.Count() == 0)
    {
        <li>
            <div class="friendRequestContent">
                <div class="form-inline"> 
                    <h4>No Friend Request</h4>
                </div>
            </div>
        </li>
    }
}


@foreach (var notif in Model)
{
        <li>
            @{
                if (notif.SEEN == "Y")
                {
                    <div class="friendRequestContentSeen">
                        <div class="form-inline">
                            @{
                                if (notif.USER1.PROFILE_PIC == null)
                                {
                                    <span class="form-group"><img src="~/Content/Images/defaultProfilePic.jpg" class="img-circle img-responsive img-notification" /></span>
                                }
                                else
                                {
                                    var base64 = Convert.ToBase64String(notif.USER1.PROFILE_PIC);
                                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                    <span class="form-group"><img src="@imgSrc" class="img-circle img-responsive img-notification" /></span>
                                }
                            }
                            <div class="form-group">
                                <strong>@notif.USER1.FIRST_NAME @notif.USER1.LAST_NAME</strong><br />
                                <button type="button" onclick="AcceptFriendByNotification( @notif.SENDER_ID,@notif.RECEIVER_ID)" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-ok" title="Accept Friend Request"></span></button>
                                <button type="button" onclick="CancelFriendByNotification(@notif.SENDER_ID, @notif.RECEIVER_ID)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove" title="Decline Friend Request"></span></button>
                            </div>

                        </div>
                    </div>
                }
                else
                {
                    <div class="friendRequestContent">
                        <div class="form-inline">
                            @{
                                if (notif.USER1.PROFILE_PIC == null)
                                {
                                    <span class="form-group"><img src="~/Content/Images/defaultProfilePic.jpg" class="img-circle img-responsive img-notification" /></span>
                                }
                                else
                                {
                                    var base64 = Convert.ToBase64String(notif.USER1.PROFILE_PIC);
                                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                    <span class="form-group"><img src="@imgSrc" class="img-circle img-responsive img-notification" /></span>
                                }
                            }
                            <div class="form-group">
                                <strong>@notif.USER1.FIRST_NAME @notif.USER1.LAST_NAME</strong><br />
                                <button type="button" onclick="AcceptFriendByNotification( @notif.SENDER_ID,@notif.RECEIVER_ID)" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-ok" title="Accept Friend Request"></span></button>
                                <button type="button" onclick="CancelFriendByNotification(@notif.SENDER_ID, @notif.RECEIVER_ID)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove" title="Decline Friend Request"></span></button>
                            </div>

                        </div>
                    </div>
                    }
            }
            

    </li>
}
