 
    @{
        Layout = "~/Views/Shared/_LayoutHome.cshtml";
    } 


<div class="row">
    <div class="col-md-5">
        <div id="welcomeHeaderContainer" class="divShadow divPost rowLeftProfilePadding">
            <div class="row">
                <div class="col-md-12"> 
                        <div id="welcomeHeader" class="text-center whiteText"><strong>WELCOME</strong></div>  
                </div> 
            </div>
        </div>
        <div   class="divShadow divPost rowLeftProfilePadding">
            <div class="row">
                <div class="col-md-12">
                    <div id="welcomeHeader" class="text-center lightBlueText"><strong>ENJOY</strong></div>
                </div>
            </div>
        </div>
        <div id="welcomeHeaderContainer" class="divShadow divPost rowLeftProfilePadding">
            <div class="row">
                <div class="col-md-12">
                    <div id="welcomeHeader" class="text-center whiteText"><strong>PASTEBOOK</strong></div>
                </div>
            </div>
        </div>
        <div class="divShadow divPost rowLeftProfilePadding">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="blueText"><strong>  Profile</strong></h4>
                </div>
                <div class="col-md-6">
                    <button id="btnLeftProfile" type="button" class="blueText pull-right infoTextSize asText btnLeftProfile" onclick="location.href='@Url.Action("ViewProfile","Pastebook", new { userName = Session["CurrentUserName"].ToString() })'">
                        <span class="glyphicon glyphicon-eye-open"></span> View
                    </button>
                </div>
            </div>
        </div>
        <div  class="divShadow divPost rowLeftProfilePadding">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="blueText"><strong>  Friend List</strong></h4>
                </div>
                <div class="col-md-6">
                    <button id="btnLeftProfile" type="button" class="blueText pull-right infoTextSize asText btnLeftProfile" onclick="location.href='@Url.Action("FriendList","Pastebook" )'">
                        <span class="glyphicon glyphicon-eye-open"></span> View
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="divShadow divPost clearfix rowProfilePadding">
            <h5 class="blueText"><strong><span class="glyphicon glyphicon-pencil"></span>  Create Post</strong></h5>
            <textarea class="form-control" rows="3" id="textAreaPost" placeholder="What's on your mind?"></textarea>
            <span id="postError" class="text-danger"></span>
            <div class="row">
                <div class="col-md-offset-10 col-md-2">
                    <button type="submit" class="asText" id="postButton"><h4 class="blueText"><strong>POST</strong></h4></button>
                </div>
            </div>
        </div>


        <div id="divRenderAction">
            @{ Html.RenderAction("Newsfeed", "Pastebook" ); }
        </div>
    </div>
    <div class="col-md-3">

    </div>
</div>
<div class="modal fade" id="modalView" tabindex="-1" role="dialog" aria-labelledby="modalViewLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalViewLabel">Like</h4>
            </div>
            <div class="modal-body modalLikeBody">
                <div id="modalContentRender">

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
   
    <script>
        var partialUrl = '@Url.Action("Newsfeed","Pastebook" )';
        //var posterID =  Session["CurrentUserID"];
        var profileOwnerID = @Session["CurrentUserID"];
        var sendCommentUrl = '@Url.Action("PostComment","Pastebook")';
        var likeUnlikeUrl = '@Url.Action("LikeUnlikePost","Pastebook")';
    </script>
<script src="~/Scripts/Custom/Home.js"></script>
}