@model IEnumerable<Pastebook.Models.PostViewModel>
 
@foreach (var post in Model)
{  
    <div class="divShadow divPost clearfix rowProfilePadding"> 
        <div class="row">
            <div class="col-md-12"><div class="form-inline">
                <span class="form-group"><img src="~/Content/Images/defaultProfilePic.jpg" class="img-circle img-responsive img-post" /></span>
                <div class="form-group"> 
                    <span class="postTextColor"><strong>@post.PosterName</strong></span><br />
                    <span class="grayText">@post.DateCreated.ToString("MMMM dd, yyyy hh:ss tt")</span> 
                </div>
            </div>
            </div> 
        </div>  
            <div class="row">
                <div class="col-md-offset-1 col-md-11">
                    <blockquote >
                        <p class="text-left postTextColor">@post.Content</p>
                    </blockquote>
                </div>
            </div>
        <div class="row">
             <div class="col-md-12">
                 <button type="submit" class="asText postButton" ng-click=""><span class="glyphicon glyphicon-thumbs-up"> </span>  @post.NumberOfLikes</button>
                 <button type="submit" class="asText postButton" ng-click=""><span class="glyphicon glyphicon-comment"> </span>  @post.NumberOfComments</button>
                 <div class="btn-group">
                     <button type="button" class="asText postButton" ng-click="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         <span class="glyphicon glyphicon-option-horizontal"></span>
                     </button>
                     <ul class="dropdown-menu">
                         <li><a href="">View who likes</a></li>
                         <li><a href="">View who comments</a></li>
                         <li role="separator" class="divider"></li>
                         <li><a href="">Delete post</a></li>
                     </ul>
                 </div>
             </div> 
            
        </div>
    </div>
}