@model PastebookDataLibrary.USER
@{ 
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="row"> 
    <div class="col-md-12">
        <div class="rowPadding">
            <div id="headerProfile" class="divBorderRadius divColorBlue divShadow">
                <div class="col-md-offset-1 col-md-2">
                    <img id="ImgProfile" src="~/Content/Images/defaultProfilePic.jpg" class="img-circle img-responsive" />
                </div>
                <div class="col-md-9"> 
                    <div id="headerProfileInfo">  
                        <span id="headerFullName" class="whiteText ">@Model.FIRST_NAME @Model.LAST_NAME</span> <br />
                        <label id="headerUserName" class="whiteText">@@@Model.USER_NAME</label>  
                    </div> 
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-inline">
                                <div class="form-group">
                                    <button id="btnAddFriend" class="btn btn-default whiteText" style="display: none;">Add Friend</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>
<div class="row">
    <div class="col-md-5"> 
        <div class="divShadow divPost rowLeftProfilePadding">
             <h4 class="blueText"><strong><span class="glyphicon glyphicon-info-sign"></span>  Info</strong></h4>
            <hr />
            <div class="form-group"><span class="glyphicon glyphicon-home"></span></div>

            
        </div>
    </div>
    <div class="col-md-7">
        <div class="divShadow divPost clearfix rowProfilePadding">
            <h5 class="blueText"><strong><span class="glyphicon glyphicon-pencil"></span>  Create Post</strong></h5>
            <textarea  class="form-control" rows="3" id="textAreaPost" placeholder="What's on your mind?"></textarea>
            <div class="row">
                <div class="col-md-offset-10 col-md-2"> 
                    <button type="submit" class="asText" id="postButton"><h4 class="blueText"><strong>POST</strong></h4></button>
                </div>
            </div>
        </div>
        <div id="divRenderAction"> 
            @{ Html.RenderAction("Timeline", "Pastebook", new { userID = Model.ID }); }
        </div>
    </div>
</div>

<div class="modal fade" id="modalView" tabindex="-1" role="dialog" aria-labelledby="modalViewLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalViewLabel">Modal Title</h4>
            </div>
            <div class="modal-body modalLikeBody">
                  <div id="modalContentRender">

                  </div>
            </div> 
        </div>
    </div>

</div>
 


@section Scripts{
    <script>
        var partialUrl = '@Url.Action("Timeline","Pastebook",new { userID = Model.ID })'; 
        var checkUserIfFriendUrl = '@Url.Action("CheckUserIfFriend","Pastebook" )';
        var posterID =  @Session["CurrentUserID"];
        var profileOwnerID = @Model.ID;
        var addFriendUrl = '@Url.Action("AddFriend","Pastebook" )'
        var cancelRequestUrl = '@Url.Action("CancelFriendRequest","Pastebook")'
        var createPostUrl = '@Url.Action("Post","Pastebook")';
        var likeUnlikeUrl = '@Url.Action("LikeUnlikePost","Pastebook")'
        var sendCommentUrl = '@Url.Action("PostComment","Pastebook")';
    </script>


    <script src="~/Scripts/Custom/Profile.js"></script>

}